<a id='Introduction'></a>
# Working with Pandas

### Created by Joshua Bay, REHS Internship, 2019

In this tutorial, we will look at Pandas, a data analysis toolkit for Python. We will learn how to read a CSV file and edit the series or dataframe that is created. More information about Pandas can be found here: https://pandas.pydata.org/pandas-docs/stable/dsintro.html

## Software Prerequisites

Run the following command into your anaconda prompt.

```
pip install pandas
```

### Grab the TSV file from this link: https://bit.ly/2ZRKvAc

When you open the drive folder. Click the download button. After that, go to your jupyter notebook home page.
Click the Upload button and select the file.

<a id='Creating your own CSV file'></a>
## Creating your own CSV file

In this tutorial, you can either follow along using the data that I have provided, or get your own to analyze. Below are instructions to gather data from Google Trends. If you do not want to gathter new data, you can skip this cell.

- Go to https://trends.google.com/trends/?geo=US
- Search for multiple terms that you want to compare
- When you are satisfied with your search terms, click on the download symbol above the graph titled "Interest over time"
![alt text](graphexample2.png "Example Graph")
- Now import the file into a new Google Sheets. File > Import > Upload and select the file. It will probably be named "multiTimeline.csv"
- A popup will appear. Click "Import Data", then click "Open now" which appears at the top of the popup
![alt text](popupexample.PNG "Popup Example")
- Your data will now appear in a sheet and we just have to clean it up a little
![alt text](sheetsexample.PNG "Sheets Example")
- Remove the block that says "Week"
- Now we need to download the file as a CSV file. File > Download as > Comma-Seperated Values (.csv, current sheet). Move the downloaded file into the same folder as your new jupyter notebook on your computer. Make sure to rename the file so it is easy to copy into the jupyter notebook. This allows you to read the file in the next steps

<a id='Getting Started'></a>
## Getting Started

First we need to import pandas. We can follow that with "as pd" so we don't have to write pandas every time we want to use one of the methods that pandas contains.

In [38]:
import pandas as pd
import numpy

Now we are ready to start looking at the data. We will use the command pd.read_csv() and the variable df. Inside the parentheses, we will write the name of the CSV file we downloaded, the column that we want to serve as the column farthest to the left, and the amount of rows we want to skip from the top of the file. Feel free to mess with any of the values and see what the different results are!

In [39]:
df = pd.read_csv('TrendsData.csv', index_col=0, skiprows=2)

Now that we have the CSV file read, we can start to look at the data. head() will show the first five rows of data, and tail() will show the last 5 rows of data. You can change the amount of rows you see by changing the number you pass into the parentheses.

In [40]:
df.head()

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2,83,0
2019-08-04,2,82,0
2019-08-11,2,80,0
2019-08-18,2,82,0
2019-08-25,2,82,0

In [41]:
df.tail(3)

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2020-07-05,2,85,0
2020-07-12,2,87,0
2020-07-19,1,75,0

You can also just write the variable name to see the entire dataframe.

In [42]:
df

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2,83,0
2019-08-04,2,82,0
2019-08-11,2,80,0
2019-08-18,2,82,0
2019-08-25,2,82,0
2019-09-01,2,80,0
2019-09-08,2,95,0
2019-09-15,2,94,0
2019-09-22,2,99,0
2019-09-29,2,99,0
2019-10-06,2,100,0
2019-10-13,2,97,0
2019-10-20,2,94,0
2019-10-27,2,93,0
2019-11-03,2,96,0
2019-11-10,2,92,0
2019-11-17,2,94,0
2019-11-24,1,64,0
2019-12-01,2,84,0
2019-12-08,2,78,0
2019-12-15,1,72,0
2019-12-22,1,45,0
2019-12-29,1,50,0
2020-01-05,1,72,0
2020-01-12,2,81,0
2020-01-19,2,82,0
2020-01-26,2,90,0
2020-02-02,2,96,0
2020-02-09,2,97,0
2020-02-16,2,97,0
2020-02-23,2,97,0
2020-03-01,2,93,0
2020-03-08,2,81,0
2020-03-15,1,74,0
2020-03-22,2,80,0
2020-03-29,2,84,0
2020-04-05,2,91,0
2020-04-12,2,90,0
2020-04-19,2,88,0
2020-04-26,2,90,0
2020-05-03,2,89,0
2020-05-10,2,83,0
2020-05-17,2,83,0
2020-05-24,2,78,0
2020-05-31,2,80,0
2020-06-07,2,86,0
2020-06-14,1,82,0
2020-06-21,2,83,0
2020-06-28,2,77,0
2020-07-05,2,85,0
2020-07-12,2,87,0
2020-07-19,1,75,0

In addition to looking at the whole DataTable, you can look at just the titles of the rows and columns by using the commands columns and index.

In [43]:
df.columns

Index(['Jupyter Notebook: (United States)', 'Python: (United States)',
       'San Diego Super Computer: (United States)'],
      dtype='object')

In [44]:
df.index

Index(['2019-07-28', '2019-08-04', '2019-08-11', '2019-08-18', '2019-08-25',
       '2019-09-01', '2019-09-08', '2019-09-15', '2019-09-22', '2019-09-29',
       '2019-10-06', '2019-10-13', '2019-10-20', '2019-10-27', '2019-11-03',
       '2019-11-10', '2019-11-17', '2019-11-24', '2019-12-01', '2019-12-08',
       '2019-12-15', '2019-12-22', '2019-12-29', '2020-01-05', '2020-01-12',
       '2020-01-19', '2020-01-26', '2020-02-02', '2020-02-09', '2020-02-16',
       '2020-02-23', '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
       '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19', '2020-04-26',
       '2020-05-03', '2020-05-10', '2020-05-17', '2020-05-24', '2020-05-31',
       '2020-06-07', '2020-06-14', '2020-06-21', '2020-06-28', '2020-07-05',
       '2020-07-12', '2020-07-19'],
      dtype='object')

The shape command will give you the shape of your data. In this example, it is 52 rows down by 5 rows across. The size command works the same way, but gives you the total amount of numbers you have entered. It multiplies the number of rows by columns (52 * 5 = 260). Next, the len() command will give you one of the values that shpae does, depending on what you pass into the parentheses. Passing index will give you the amount of rows, and passing columns will give you the amount of columns.

In [45]:
df.shape

(52, 3)

In [46]:
df.size

156

In [47]:
len(df.index)

52

In [48]:
len(df.columns)

3

Now we have to clean up the names of the titles. We are going to use the str.split() command to split the names at the colon. Then we will re-assign the names to the columns of the DataFrame. This process just makes the names look cleaner.

In [49]:
names_ids = df.columns.str.split(':')
df.columns = names_ids.str[0]
df.head(3)

            Jupyter Notebook  Python  San Diego Super Computer
2019-07-28                 2      83                         0
2019-08-04                 2      82                         0
2019-08-11                 2      80                         0

<a id='Working With Rows and Columns'></a>
## Working With Rows and Columns

When using DataFrames, you might have to access the values of a certain row or column. You are able to do this in a few different ways:

- Brackets
    - [ ] Single brackets with one value will return a Series
    - [ ] Single brackets with many values will return a DataFrame
    - [[ ]] Double brackets will return a DataFrame
- Selecting Rows
    - iloc[ ] with a number will select that row (ex: df.iloc[2])
    - loc[ ] with a name will select that row (ex: df.loc['2018-08-12'])
- Selecting Columns
    - A set of brackets with a name or number will select that column (ex: df[Minecraft])
    
**Important Note: When accessing data with an index number, the first index value is 0, not 1. Counting is as follows: 0, 1, 2, 3, etc.**

### Rows

These first two commands will output the third row of data in two different ways. The first is as a series, because we are using one set of brackets. The second is a dataframe, because there are two sets of brackets.

In [50]:
df.iloc[2]

Jupyter Notebook             2
Python                      80
San Diego Super Computer     0
Name: 2019-08-11, dtype: int64

In [51]:
df.iloc[[2]]

            Jupyter Notebook  Python  San Diego Super Computer
2019-08-11                 2      80                         0

This next example shows multiple rows. Notice that single brackets are being used, but a dataframe is still the output. Also, be careful which indexes are being passed into the brackets. The first index value **will** be included, but the last value **will not**.

In [52]:
df.iloc[2:5]

            Jupyter Notebook  Python  San Diego Super Computer
2019-08-11                 2      80                         0
2019-08-18                 2      82                         0
2019-08-25                 2      82                         0

If you do not know the index of the row you want to see, you can pass the name of the row instead. Notice that the amount of brackets used and the amount of rows being passed changes if the output is a series or dataframe.

In [53]:
df.loc['2019-08-11']

Jupyter Notebook             2
Python                      80
San Diego Super Computer     0
Name: 2019-08-11, dtype: int64

In [54]:
dates = ['2019-08-11', '2020-07-19']
df.loc[dates]

            Jupyter Notebook  Python  San Diego Super Computer
2019-08-11                 2      80                         0
2020-07-19                 1      75                         0

In [55]:
df.loc[['2020-07-05']]

            Jupyter Notebook  Python  San Diego Super Computer
2020-07-05                 2      85                         0

### Columns

Columns are much simpler than rows, because you do not have to remember whether to use loc or iloc. instead, you just put the name or names of the columns into single or double brackets. Again, the number of names and the amount of brackets has an impact on the data being a series or dataframe. We can also use head() so we only see the first few lines of data, rather than the whole column.

In [56]:
df['Python'].head()

2019-07-28    83
2019-08-04    82
2019-08-11    80
2019-08-18    82
2019-08-25    82
Name: Python, dtype: int64

In [57]:
df[['Python']].head()

            Python
2019-07-28      83
2019-08-04      82
2019-08-11      80
2019-08-18      82
2019-08-25      82

In [58]:
names = ['Python', 'Jupyter Notebook', 'San Diego Super Computer']
df[names].head()

            Python  Jupyter Notebook  San Diego Super Computer
2019-07-28      83                 2                         0
2019-08-04      82                 2                         0
2019-08-11      80                 2                         0
2019-08-18      82                 2                         0
2019-08-25      82                 2                         0

<a id='Data Operations'></a>
## Data Operations

If you just want the value of adding all the items in a column, the sum() command will add them up and give the output.

In [59]:
df['Jupyter Notebook'].sum()

96

You can also do math with the rows and columns. Just use any sign (+, -, *, /, %, etc) on the values from each of the rows or columns and you will be able to do that opperation on the numbers and give the output in a new line. You can put the values you get into a row or column that does not exist, and pandas will create it for you.

In [60]:
df['Total'] = df['Jupyter Notebook'] + df['San Diego Super Computer'] + df['Python']
df.head()

            Jupyter Notebook  Python  San Diego Super Computer  Total
2019-07-28                 2      83                         0     85
2019-08-04                 2      82                         0     84
2019-08-11                 2      80                         0     82
2019-08-18                 2      82                         0     84
2019-08-25                 2      82                         0     84

In [61]:
#This code loops through every value and adds it to a total,
#then divides the total by the number of rows and adds it
#to a new row on the bottom
num = 0
for i in range(0, len(df.index)):
    num += df.iloc[i]
    df.loc['Average'] = num / len(df.index)
    
df.tail()

            Jupyter Notebook     Python  San Diego Super Computer      Total
2020-06-28          2.000000  77.000000                       0.0  79.000000
2020-07-05          2.000000  85.000000                       0.0  87.000000
2020-07-12          2.000000  87.000000                       0.0  89.000000
2020-07-19          1.000000  75.000000                       0.0  76.000000
Average             1.811321  83.132075                       0.0  84.943396

<a id='Deleting Rows and Columns'></a>
## Deleting Rows and Columns

The drop() command will remove any row that you don't want in your data, and the del command can be put in front of the call to a column. Pass the name of the row you want to remove into the parentheses or the column in square brackets, and look at the table to see that the row or column is now gone. From this point forward, it will not be present in the data. If you want to change that, just run the read_csv() command in the second code cell, and the change will be undone. You will have to re-run some of the cells below it if you changed the data in any other ways.

In [62]:
df = df.drop('Average')
df.tail()

            Jupyter Notebook  Python  San Diego Super Computer  Total
2020-06-21               2.0    83.0                       0.0   85.0
2020-06-28               2.0    77.0                       0.0   79.0
2020-07-05               2.0    85.0                       0.0   87.0
2020-07-12               2.0    87.0                       0.0   89.0
2020-07-19               1.0    75.0                       0.0   76.0

In [63]:
del df['Total']
df.head()

            Jupyter Notebook  Python  San Diego Super Computer
2019-07-28               2.0    83.0                       0.0
2019-08-04               2.0    82.0                       0.0
2019-08-11               2.0    80.0                       0.0
2019-08-18               2.0    82.0                       0.0
2019-08-25               2.0    82.0                       0.0

<a id='Filtering the Outputs'></a>
## Filtering the Outputs

You can use the max() and idxmax() commands to find the largest number in the column and the row that contains the largest number, respectively.

In [64]:
df['Jupyter Notebook'].max()

2.0

In [65]:
df['Jupyter Notebook'].idxmax()

'2019-07-28'

You can also locate certain rows that meet some criteria. In these cells, we filter the outputs to only show rows that have data over a certain threshold. We can also just show certain columns.

In [66]:
df.loc[df['Python']>50]

            Jupyter Notebook  Python  San Diego Super Computer
2019-07-28               2.0    83.0                       0.0
2019-08-04               2.0    82.0                       0.0
2019-08-11               2.0    80.0                       0.0
2019-08-18               2.0    82.0                       0.0
2019-08-25               2.0    82.0                       0.0
2019-09-01               2.0    80.0                       0.0
2019-09-08               2.0    95.0                       0.0
2019-09-15               2.0    94.0                       0.0
2019-09-22               2.0    99.0                       0.0
2019-09-29               2.0    99.0                       0.0
2019-10-06               2.0   100.0                       0.0
2019-10-13               2.0    97.0                       0.0
2019-10-20               2.0    94.0                       0.0
2019-10-27               2.0    93.0                       0.0
2019-11-03               2.0    96.0                       0.0
2019-11-10               2.0    92.0                       0.0
2019-11-17               2.0    94.0                       0.0
2019-11-24               1.0    64.0                       0.0
2019-12-01               2.0    84.0                       0.0
2019-12-08               2.0    78.0                       0.0
2019-12-15               1.0    72.0                       0.0
2020-01-05               1.0    72.0                       0.0
2020-01-12               2.0    81.0                       0.0
2020-01-19               2.0    82.0                       0.0
2020-01-26               2.0    90.0                       0.0
2020-02-02               2.0    96.0                       0.0
2020-02-09               2.0    97.0                       0.0
2020-02-16               2.0    97.0                       0.0
2020-02-23               2.0    97.0                       0.0
2020-03-01               2.0    93.0                       0.0
2020-03-08               2.0    81.0                       0.0
2020-03-15               1.0    74.0                       0.0
2020-03-22               2.0    80.0                       0.0
2020-03-29               2.0    84.0                       0.0
2020-04-05               2.0    91.0                       0.0
2020-04-12               2.0    90.0                       0.0
2020-04-19               2.0    88.0                       0.0
2020-04-26               2.0    90.0                       0.0
2020-05-03               2.0    89.0                       0.0
2020-05-10               2.0    83.0                       0.0
2020-05-17               2.0    83.0                       0.0
2020-05-24               2.0    78.0                       0.0
2020-05-31               2.0    80.0                       0.0
2020-06-07               2.0    86.0                       0.0
2020-06-14               1.0    82.0                       0.0
2020-06-21               2.0    83.0                       0.0
2020-06-28               2.0    77.0                       0.0
2020-07-05               2.0    85.0                       0.0
2020-07-12               2.0    87.0                       0.0
2020-07-19               1.0    75.0                       0.0

In [67]:
df.loc[(df['Python']>df['Jupyter Notebook']) & (df['Python']>50)]

            Jupyter Notebook  Python  San Diego Super Computer
2019-07-28               2.0    83.0                       0.0
2019-08-04               2.0    82.0                       0.0
2019-08-11               2.0    80.0                       0.0
2019-08-18               2.0    82.0                       0.0
2019-08-25               2.0    82.0                       0.0
2019-09-01               2.0    80.0                       0.0
2019-09-08               2.0    95.0                       0.0
2019-09-15               2.0    94.0                       0.0
2019-09-22               2.0    99.0                       0.0
2019-09-29               2.0    99.0                       0.0
2019-10-06               2.0   100.0                       0.0
2019-10-13               2.0    97.0                       0.0
2019-10-20               2.0    94.0                       0.0
2019-10-27               2.0    93.0                       0.0
2019-11-03               2.0    96.0                       0.0
2019-11-10               2.0    92.0                       0.0
2019-11-17               2.0    94.0                       0.0
2019-11-24               1.0    64.0                       0.0
2019-12-01               2.0    84.0                       0.0
2019-12-08               2.0    78.0                       0.0
2019-12-15               1.0    72.0                       0.0
2020-01-05               1.0    72.0                       0.0
2020-01-12               2.0    81.0                       0.0
2020-01-19               2.0    82.0                       0.0
2020-01-26               2.0    90.0                       0.0
2020-02-02               2.0    96.0                       0.0
2020-02-09               2.0    97.0                       0.0
2020-02-16               2.0    97.0                       0.0
2020-02-23               2.0    97.0                       0.0
2020-03-01               2.0    93.0                       0.0
2020-03-08               2.0    81.0                       0.0
2020-03-15               1.0    74.0                       0.0
2020-03-22               2.0    80.0                       0.0
2020-03-29               2.0    84.0                       0.0
2020-04-05               2.0    91.0                       0.0
2020-04-12               2.0    90.0                       0.0
2020-04-19               2.0    88.0                       0.0
2020-04-26               2.0    90.0                       0.0
2020-05-03               2.0    89.0                       0.0
2020-05-10               2.0    83.0                       0.0
2020-05-17               2.0    83.0                       0.0
2020-05-24               2.0    78.0                       0.0
2020-05-31               2.0    80.0                       0.0
2020-06-07               2.0    86.0                       0.0
2020-06-14               1.0    82.0                       0.0
2020-06-21               2.0    83.0                       0.0
2020-06-28               2.0    77.0                       0.0
2020-07-05               2.0    85.0                       0.0
2020-07-12               2.0    87.0                       0.0
2020-07-19               1.0    75.0                       0.0

In [68]:
df[['Python', 'Jupyter Notebook']]

            Python  Jupyter Notebook
2019-07-28    83.0               2.0
2019-08-04    82.0               2.0
2019-08-11    80.0               2.0
2019-08-18    82.0               2.0
2019-08-25    82.0               2.0
2019-09-01    80.0               2.0
2019-09-08    95.0               2.0
2019-09-15    94.0               2.0
2019-09-22    99.0               2.0
2019-09-29    99.0               2.0
2019-10-06   100.0               2.0
2019-10-13    97.0               2.0
2019-10-20    94.0               2.0
2019-10-27    93.0               2.0
2019-11-03    96.0               2.0
2019-11-10    92.0               2.0
2019-11-17    94.0               2.0
2019-11-24    64.0               1.0
2019-12-01    84.0               2.0
2019-12-08    78.0               2.0
2019-12-15    72.0               1.0
2019-12-22    45.0               1.0
2019-12-29    50.0               1.0
2020-01-05    72.0               1.0
2020-01-12    81.0               2.0
2020-01-19    82.0               2.0
2020-01-26    90.0               2.0
2020-02-02    96.0               2.0
2020-02-09    97.0               2.0
2020-02-16    97.0               2.0
2020-02-23    97.0               2.0
2020-03-01    93.0               2.0
2020-03-08    81.0               2.0
2020-03-15    74.0               1.0
2020-03-22    80.0               2.0
2020-03-29    84.0               2.0
2020-04-05    91.0               2.0
2020-04-12    90.0               2.0
2020-04-19    88.0               2.0
2020-04-26    90.0               2.0
2020-05-03    89.0               2.0
2020-05-10    83.0               2.0
2020-05-17    83.0               2.0
2020-05-24    78.0               2.0
2020-05-31    80.0               2.0
2020-06-07    86.0               2.0
2020-06-14    82.0               1.0
2020-06-21    83.0               2.0
2020-06-28    77.0               2.0
2020-07-05    85.0               2.0
2020-07-12    87.0               2.0
2020-07-19    75.0               1.0

Now if we put some of the ideas from above together, we will be able to show certain columns and certain rows. This command is so common that you can even leave out 'iloc' and you will get the same result. Just put the names of the columns you want in double brackets and follow that by the range of the index of the rows you want in single brackets.

In [69]:
df[['Python', 'Jupyter Notebook', 'San Diego Super Computer']].iloc[10:15]

            Python  Jupyter Notebook  San Diego Super Computer
2019-10-06   100.0               2.0                       0.0
2019-10-13    97.0               2.0                       0.0
2019-10-20    94.0               2.0                       0.0
2019-10-27    93.0               2.0                       0.0
2019-11-03    96.0               2.0                       0.0

In [70]:
df[['Python', 'Jupyter Notebook', 'San Diego Super Computer']][10:15]

            Python  Jupyter Notebook  San Diego Super Computer
2019-10-06   100.0               2.0                       0.0
2019-10-13    97.0               2.0                       0.0
2019-10-20    94.0               2.0                       0.0
2019-10-27    93.0               2.0                       0.0
2019-11-03    96.0               2.0                       0.0

If you don't know the index of the rows you want, you can always just enter the names of the rows in double brackets with the loc command.

In [71]:
df[['Python', 'Jupyter Notebook', 'San Diego Super Computer']].loc[['2019-07-28', '2020-07-19', '2020-07-05']]

            Python  Jupyter Notebook  San Diego Super Computer
2019-07-28    83.0               2.0                       0.0
2020-07-19    75.0               1.0                       0.0
2020-07-05    85.0               2.0                       0.0

<a id='Fixing Missing Data'></a>
## Fixing Missing Data

#### Grab this file and upload it to your jupyter notebook folder: https://bit.ly/3jFHJGv.
It has a few missing entries and rows.

In [72]:
df2 = pd.read_csv('TrendsDataMissing.csv', index_col=0, skiprows=2)
df2

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2.0,83.0,0.0
2019-08-04,2.0,82.0,0.0
2019-08-11,2.0,80.0,0.0
2019-08-18,2.0,82.0,0.0
2019-08-25,2.0,82.0,NaN
2019-09-01,2.0,80.0,0.0
2019-09-08,2.0,95.0,0.0
2019-09-15,2.0,94.0,0.0
2019-09-22,2.0,99.0,0.0
2019-09-29,NaN,99.0,0.0
2019-10-06,2.0,100.0,0.0
2019-10-13,2.0,97.0,NaN
2019-10-20,2.0,94.0,0.0
2019-10-27,2.0,93.0,0.0
2019-11-03,2.0,96.0,0.0
2019-11-10,2.0,92.0,0.0
2019-11-17,2.0,94.0,0.0
2019-11-24,1.0,NaN,0.0
2019-12-01,2.0,84.0,0.0
2019-12-08,2.0,78.0,0.0
2019-12-15,1.0,72.0,0.0
2019-12-22,1.0,45.0,0.0
2019-12-29,1.0,NaN,0.0
2020-01-05,1.0,72.0,0.0
2020-01-12,2.0,81.0,0.0
2020-01-19,2.0,82.0,0.0
2020-01-26,2.0,90.0,0.0
2020-02-02,2.0,96.0,0.0
2020-02-09,NaN,97.0,0.0
2020-02-16,2.0,97.0,NaN
2020-02-23,2.0,97.0,0.0
2020-03-01,2.0,93.0,0.0
2020-03-08,2.0,81.0,0.0
2020-03-15,1.0,74.0,0.0
2020-03-22,2.0,80.0,0.0
2020-03-29,2.0,84.0,0.0
2020-04-05,2.0,91.0,0.0
2020-04-12,2.0,90.0,0.0
2020-04-19,2.0,88.0,0.0
2020-04-26,2.0,90.0,0.0
2020-05-03,2.0,89.0,0.0
2020-05-10,2.0,83.0,0.0
2020-05-17,2.0,83.0,0.0
2020-05-24,2.0,78.0,0.0
2020-05-31,2.0,80.0,0.0
2020-06-07,2.0,86.0,0.0
2020-06-14,1.0,82.0,0.0
2020-06-21,2.0,83.0,0.0
2020-06-28,2.0,77.0,0.0
2020-07-05,2.0,85.0,0.0
2020-07-12,2.0,87.0,0.0
2020-07-19,1.0,75.0,0.0

The first way is the easiest, and just fills in all the missing numbers with one value, in this case, 200.

In [73]:
df2.fillna(value=200)

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2.0,83.0,0.0
2019-08-04,2.0,82.0,0.0
2019-08-11,2.0,80.0,0.0
2019-08-18,2.0,82.0,0.0
2019-08-25,2.0,82.0,200.0
2019-09-01,2.0,80.0,0.0
2019-09-08,2.0,95.0,0.0
2019-09-15,2.0,94.0,0.0
2019-09-22,2.0,99.0,0.0
2019-09-29,200.0,99.0,0.0
2019-10-06,2.0,100.0,0.0
2019-10-13,2.0,97.0,200.0
2019-10-20,2.0,94.0,0.0
2019-10-27,2.0,93.0,0.0
2019-11-03,2.0,96.0,0.0
2019-11-10,2.0,92.0,0.0
2019-11-17,2.0,94.0,0.0
2019-11-24,1.0,200.0,0.0
2019-12-01,2.0,84.0,0.0
2019-12-08,2.0,78.0,0.0
2019-12-15,1.0,72.0,0.0
2019-12-22,1.0,45.0,0.0
2019-12-29,1.0,200.0,0.0
2020-01-05,1.0,72.0,0.0
2020-01-12,2.0,81.0,0.0
2020-01-19,2.0,82.0,0.0
2020-01-26,2.0,90.0,0.0
2020-02-02,2.0,96.0,0.0
2020-02-09,200.0,97.0,0.0
2020-02-16,2.0,97.0,200.0
2020-02-23,2.0,97.0,0.0
2020-03-01,2.0,93.0,0.0
2020-03-08,2.0,81.0,0.0
2020-03-15,1.0,74.0,0.0
2020-03-22,2.0,80.0,0.0
2020-03-29,2.0,84.0,0.0
2020-04-05,2.0,91.0,0.0
2020-04-12,2.0,90.0,0.0
2020-04-19,2.0,88.0,0.0
2020-04-26,2.0,90.0,0.0
2020-05-03,2.0,89.0,0.0
2020-05-10,2.0,83.0,0.0
2020-05-17,2.0,83.0,0.0
2020-05-24,2.0,78.0,0.0
2020-05-31,2.0,80.0,0.0
2020-06-07,2.0,86.0,0.0
2020-06-14,1.0,82.0,0.0
2020-06-21,2.0,83.0,0.0
2020-06-28,2.0,77.0,0.0
2020-07-05,2.0,85.0,0.0
2020-07-12,2.0,87.0,0.0
2020-07-19,1.0,75.0,0.0

The next method is filling forward, which takes the previous value and assigns that to the missing number.

In [74]:
df2.fillna(method='ffill', axis=1)

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2.0,83.0,0.0
2019-08-04,2.0,82.0,0.0
2019-08-11,2.0,80.0,0.0
2019-08-18,2.0,82.0,0.0
2019-08-25,2.0,82.0,82.0
2019-09-01,2.0,80.0,0.0
2019-09-08,2.0,95.0,0.0
2019-09-15,2.0,94.0,0.0
2019-09-22,2.0,99.0,0.0
2019-09-29,NaN,99.0,0.0
2019-10-06,2.0,100.0,0.0
2019-10-13,2.0,97.0,97.0
2019-10-20,2.0,94.0,0.0
2019-10-27,2.0,93.0,0.0
2019-11-03,2.0,96.0,0.0
2019-11-10,2.0,92.0,0.0
2019-11-17,2.0,94.0,0.0
2019-11-24,1.0,1.0,0.0
2019-12-01,2.0,84.0,0.0
2019-12-08,2.0,78.0,0.0
2019-12-15,1.0,72.0,0.0
2019-12-22,1.0,45.0,0.0
2019-12-29,1.0,1.0,0.0
2020-01-05,1.0,72.0,0.0
2020-01-12,2.0,81.0,0.0
2020-01-19,2.0,82.0,0.0
2020-01-26,2.0,90.0,0.0
2020-02-02,2.0,96.0,0.0
2020-02-09,NaN,97.0,0.0
2020-02-16,2.0,97.0,97.0
2020-02-23,2.0,97.0,0.0
2020-03-01,2.0,93.0,0.0
2020-03-08,2.0,81.0,0.0
2020-03-15,1.0,74.0,0.0
2020-03-22,2.0,80.0,0.0
2020-03-29,2.0,84.0,0.0
2020-04-05,2.0,91.0,0.0
2020-04-12,2.0,90.0,0.0
2020-04-19,2.0,88.0,0.0
2020-04-26,2.0,90.0,0.0
2020-05-03,2.0,89.0,0.0
2020-05-10,2.0,83.0,0.0
2020-05-17,2.0,83.0,0.0
2020-05-24,2.0,78.0,0.0
2020-05-31,2.0,80.0,0.0
2020-06-07,2.0,86.0,0.0
2020-06-14,1.0,82.0,0.0
2020-06-21,2.0,83.0,0.0
2020-06-28,2.0,77.0,0.0
2020-07-05,2.0,85.0,0.0
2020-07-12,2.0,87.0,0.0
2020-07-19,1.0,75.0,0.0

Additionally, you can fill backwards, taking the next value and assigning it back. You may notice that there are a few values still missing in the last column of the table, and that is because there are no values to backfill the last column with. This would also happen using forward filling if you are missing values in the first column.

In [75]:
df2.fillna(method='bfill', axis=1)

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2.0,83.0,0.0
2019-08-04,2.0,82.0,0.0
2019-08-11,2.0,80.0,0.0
2019-08-18,2.0,82.0,0.0
2019-08-25,2.0,82.0,NaN
2019-09-01,2.0,80.0,0.0
2019-09-08,2.0,95.0,0.0
2019-09-15,2.0,94.0,0.0
2019-09-22,2.0,99.0,0.0
2019-09-29,99.0,99.0,0.0
2019-10-06,2.0,100.0,0.0
2019-10-13,2.0,97.0,NaN
2019-10-20,2.0,94.0,0.0
2019-10-27,2.0,93.0,0.0
2019-11-03,2.0,96.0,0.0
2019-11-10,2.0,92.0,0.0
2019-11-17,2.0,94.0,0.0
2019-11-24,1.0,0.0,0.0
2019-12-01,2.0,84.0,0.0
2019-12-08,2.0,78.0,0.0
2019-12-15,1.0,72.0,0.0
2019-12-22,1.0,45.0,0.0
2019-12-29,1.0,0.0,0.0
2020-01-05,1.0,72.0,0.0
2020-01-12,2.0,81.0,0.0
2020-01-19,2.0,82.0,0.0
2020-01-26,2.0,90.0,0.0
2020-02-02,2.0,96.0,0.0
2020-02-09,97.0,97.0,0.0
2020-02-16,2.0,97.0,NaN
2020-02-23,2.0,97.0,0.0
2020-03-01,2.0,93.0,0.0
2020-03-08,2.0,81.0,0.0
2020-03-15,1.0,74.0,0.0
2020-03-22,2.0,80.0,0.0
2020-03-29,2.0,84.0,0.0
2020-04-05,2.0,91.0,0.0
2020-04-12,2.0,90.0,0.0
2020-04-19,2.0,88.0,0.0
2020-04-26,2.0,90.0,0.0
2020-05-03,2.0,89.0,0.0
2020-05-10,2.0,83.0,0.0
2020-05-17,2.0,83.0,0.0
2020-05-24,2.0,78.0,0.0
2020-05-31,2.0,80.0,0.0
2020-06-07,2.0,86.0,0.0
2020-06-14,1.0,82.0,0.0
2020-06-21,2.0,83.0,0.0
2020-06-28,2.0,77.0,0.0
2020-07-05,2.0,85.0,0.0
2020-07-12,2.0,87.0,0.0
2020-07-19,1.0,75.0,0.0

Finally, you can use the interpolate() command with the linear method to fill the missing value with a number between the one before and after. There are also a few different methods that you can use to change the number that will be given, such as quadratic, cubic, polynomial, etc.

In [76]:
df2.interpolate(method='linear', axis=1)

,Jupyter Notebook: (United States),Python: (United States),San Diego Super Computer: (United States)
2019-07-28,2.0,83.0,0.0
2019-08-04,2.0,82.0,0.0
2019-08-11,2.0,80.0,0.0
2019-08-18,2.0,82.0,0.0
2019-08-25,2.0,82.0,82.0
2019-09-01,2.0,80.0,0.0
2019-09-08,2.0,95.0,0.0
2019-09-15,2.0,94.0,0.0
2019-09-22,2.0,99.0,0.0
2019-09-29,NaN,99.0,0.0
2019-10-06,2.0,100.0,0.0
2019-10-13,2.0,97.0,97.0
2019-10-20,2.0,94.0,0.0
2019-10-27,2.0,93.0,0.0
2019-11-03,2.0,96.0,0.0
2019-11-10,2.0,92.0,0.0
2019-11-17,2.0,94.0,0.0
2019-11-24,1.0,0.5,0.0
2019-12-01,2.0,84.0,0.0
2019-12-08,2.0,78.0,0.0
2019-12-15,1.0,72.0,0.0
2019-12-22,1.0,45.0,0.0
2019-12-29,1.0,0.5,0.0
2020-01-05,1.0,72.0,0.0
2020-01-12,2.0,81.0,0.0
2020-01-19,2.0,82.0,0.0
2020-01-26,2.0,90.0,0.0
2020-02-02,2.0,96.0,0.0
2020-02-09,NaN,97.0,0.0
2020-02-16,2.0,97.0,97.0
2020-02-23,2.0,97.0,0.0
2020-03-01,2.0,93.0,0.0
2020-03-08,2.0,81.0,0.0
2020-03-15,1.0,74.0,0.0
2020-03-22,2.0,80.0,0.0
2020-03-29,2.0,84.0,0.0
2020-04-05,2.0,91.0,0.0
2020-04-12,2.0,90.0,0.0
2020-04-19,2.0,88.0,0.0
2020-04-26,2.0,90.0,0.0
2020-05-03,2.0,89.0,0.0
2020-05-10,2.0,83.0,0.0
2020-05-17,2.0,83.0,0.0
2020-05-24,2.0,78.0,0.0
2020-05-31,2.0,80.0,0.0
2020-06-07,2.0,86.0,0.0
2020-06-14,1.0,82.0,0.0
2020-06-21,2.0,83.0,0.0
2020-06-28,2.0,77.0,0.0
2020-07-05,2.0,85.0,0.0
2020-07-12,2.0,87.0,0.0
2020-07-19,1.0,75.0,0.0

<a id='Using Numpy with Pandas'></a>
## Using Numpy with Pandas

You can convert numpy arrays to dataframes, and name the rows and columns whatever you wish. In this example, we use a random number generator to make a 10 by 3 array.

In [77]:
import numpy as np
a = np.random.rand(10, 3)
a

array([[0.35592531, 0.64470371, 0.59359412],
       [0.42181416, 0.81410456, 0.01131358],
       [0.88192206, 0.59196472, 0.72774013],
       [0.80619174, 0.38913875, 0.22581388],
       [0.40003894, 0.86858149, 0.54854989],
       [0.61744282, 0.36580258, 0.67468057],
       [0.5843234 , 0.37941579, 0.49044414],
       [0.84140755, 0.00786849, 0.71114118],
       [0.98462076, 0.42059468, 0.27880462],
       [0.29249613, 0.6070293 , 0.2922597 ]])

In [78]:
df3 = pd.DataFrame(a, columns=['Col 1', 'Col 2', 'Col 3'], index=['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5', 'Row 6', 'Row 7', 'Row 8', 'Row 9', 'Row 10'])
df3

           Col 1     Col 2     Col 3
Row 1   0.355925  0.644704  0.593594
Row 2   0.421814  0.814105  0.011314
Row 3   0.881922  0.591965  0.727740
Row 4   0.806192  0.389139  0.225814
Row 5   0.400039  0.868581  0.548550
Row 6   0.617443  0.365803  0.674681
Row 7   0.584323  0.379416  0.490444
Row 8   0.841408  0.007868  0.711141
Row 9   0.984621  0.420595  0.278805
Row 10  0.292496  0.607029  0.292260

<a id='Using Other File Formats in Pandas'></a>
## Using Other File Formats in Pandas

Lastly, there are a few other file formats that can be read by pandas. They include json, html, excel, and hdf, and they should work the same way as the csv file does.

<a id='Summary'></a>
## Summary

Congradulations! Now you know the basics of using pandas! We have learned how to create a new csv file from Google Trends, import it into pandas, look at the data, create and delete rows and columns, fill missing values, and much more! I hope you learned something, and have a good rest of your day!